* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    scroll-behavior: smooth;
}
:root {
    /* theme color */
    --c1: rgba(243,18,100,1);
    --c2: rgba(0,0,0,1);
    --c3: rgba(255,255,255,1);
}
body {
    background-color: var(--c2);
}
h2 {
    font-size: 75%;
    padding: .15rem;
    color: var(--c3);
}
.smaller {
    font-size: 50%;
}
article {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -62.5px;
    margin-left: -62.5px;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    background-color: var(--c3);
    border-radius: 10px;
    box-shadow: 0px 0px 35px 0px white;
}
.btn-selection {
    width: 35px;
    height: 35px;
    margin-top: .2rem;
    padding: .1rem;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    transition: 200ms;
}
.no-select {
    pointer-events: none;
}
.btn-selection:hover {
    scale: 1.1;
}
.results {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
.result-selection {
    width: 30%;
    opacity: .3;
    padding: .1rem;
}
.winner {
    opacity: 1;
}
.result-sub {
    text-align: center;
}
.dnone {
    display: none;
}
#left {
    position: fixed;
    bottom: 0;
    left: 0;
}
#right {
    position: fixed;
    bottom: 0;
    right: 0;
}