* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    scroll-behavior: smooth;
}
:root {
    /* theme color */
    --c1: rgba(255,255,0,1);
    --c2: rgba(0,0,0,1);
    --c3: rgba(255,255,255,1);
}
body {
    background-color: var(--c2);
}
h2 {
    padding: .15rem;
    color: var(--c3);
    /* pfusch-lösung da ich vergessen habe beim programmieren den Browser auf 100% zu setzen */
    font-size: 250%;
}
.smaller {
    font-size: 50%;
}
.popup {
    font-size: 120%;
}
article {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -62.5px;
    margin-left: -62.5px;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    background-color: var(--c3);
    border-radius: 10px;
    box-shadow: 0px 0px 35px 0px var(--c3);
    /* pfusch-lösung da ich vergessen habe beim programmieren den Browser auf 100% zu setzen */
    transform: scale(3.0);
}
form {
    display: flex;
    flex-wrap: wrap;
    width: 125px;
    height: auto;
    justify-content: center;
    align-items: center;
}
#outputFeedCitzienAmount,
#outputFarmCornAmount,
#outputRealizeFarmLand {
    float: right;
    text-align: center;
    padding-top: .25rem;
    width: 15px !important;   
}
legend {
    padding: .1rem;
    height: 5px;
}
.area {
    width: 60px;
    height: 65px;
    margin-right: .3rem;
    background-color: rgba(0,0,0,1);
    color: white;
    font-size: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: .2rem;
}
.area p {
    padding: .2rem;
}
.btn-select {
    font-size: 45%;
    margin: .1rem;
    cursor: pointer;
}
/* get rid of default range styling */
input[type="range"],
input[type="range"]:focus {
    -webkit-appearance: none;
    width: 35px;
}
/* styling track */
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
    background: rgba(0,0,0,0.1);
    height: .75px;
    cursor: pointer;
}
/* styling thumb */
input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 5px;
    width: 5px;
    background: black;
    margin-top: -5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}  
.grid-status {
    display: grid;
    width: 100%;
    height: auto;
    text-align: center;   
    align-content: center;
    justify-content: center;  
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    font-size: 30%;
}
.grid-status-item {
    padding: .2rem;
}
.grid-status-item:nth-child(even) {
    background-color: rgba(0,0,0,0.4);    
}
.grid-status-item:nth-child(odd) {
    background-color: rgba(0,0,0,0.1);    
}
.randomCode, .instruct {
    text-align: center;
    padding: .2rem;
    line-height: 75%;
}
.instruct-smaller {
    font-size: 35%;
    text-align: center;
    height: 68px;
}
.color-red {
    color: red;
}
.color-orange {
    color: orange;
}
.color-green {
    color: green;
}
.no-select {
    pointer-events: none;
}
.dnone {
    display: none !important;
}
#left {
    position: fixed;
    bottom: 0;
    left: 0;
}
#right {
    position: fixed;
    bottom: 0;
    right: 0;
}
#right:hover {
    color: var(--c1);
    cursor: pointer;
}
#rules {
    position: fixed;
    top: 0;
    right: 0;
}
#rules:hover {
    color: var(--c1);
    cursor: pointer;
}
#box {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.9);
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--c3);
    cursor: pointer;
}
#btnclose {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}