* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    scroll-behavior: smooth;
}
:root {
    /* theme color */
    --c1: rgba(255,255,0,1);
    --c2: rgba(0,0,0,1);
    --c3: rgba(255,255,255,1);
}
body {
    background-color: var(--c2);
}
h2 {
    padding: .15rem;
    color: var(--c3);
    /* pfusch-lösung da ich vergessen habe beim programmieren den Browser auf 100% zu setzen */
    font-size: 250%;
}
.smaller {
    font-size: 50%;
}
.smallest {
    font-size: 40%;
}
article {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -62.5px;
    margin-left: -62.5px;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    background-color: var(--c3);
    border-radius: 10px;
    box-shadow: 0px 0px 35px 0px var(--c3);
    /* pfusch-lösung da ich vergessen habe beim programmieren den Browser auf 100% zu setzen */
    transform: scale(3.0);
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 125px;
}
input, label {
    padding: .1rem;
} 
input[type="radio"] {
    width: 5px;
    height: 5px;
}
input[type="range"] {
    width: 55%;
}
input[type="radio"],
input[type="range"],
#btnStart {
    cursor: pointer;
}
#outputDegrees, #outputSpeed {
    width: 10px;
    text-align: right;
}
.instruct {
    text-align: center;
    padding: .2rem;
    line-height: 75%;
}
.instruct-smaller {
    font-size: 65%;
}
.color-red {
    color: red;
}
.color-orange {
    color: orange;
}
.color-green {
    color: green;
}
.no-select {
    pointer-events: none;
}
.dnone {
    display: none;
}
#left {
    position: fixed;
    bottom: 0;
    left: 0;
}
#right {
    position: fixed;
    bottom: 0;
    right: 0;
}
#right:hover {
    color: var(--c1);
    cursor: pointer;
}
#topright {
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
}
#maxRoundCount:hover {
    color: var(--c1);
    cursor: pointer;
}